
.expense-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 0.5rem;
    margin: 17px auto;
    width: 52rem;;
    gap: 25px;
}

.expense-item-description
{
    display: flex;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;
}

.expense-item h2{
    color: grey;
    font-size: 1rem;
    margin: 0, 1rem;
    
}

.expense-item-price
{
    font-size: 1rem;
    font-weight: bold;
    width: 100px;
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: blueviolet;
    box-shadow: 0 2px 8px gray;
}